body {
  background-color: black;
}

.centerBlock {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.whiteText {
  	color: white;
}

.character {
	display: inline-block;
}

.border {
	animation-name: blink ;
    animation-duration: .2s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
    outline: 5px solid;
    outline-offset: -5px
    outline-color: transparent;
}

@keyframes blink { 
   50% { outline-color: #ff0000; } 
}
