body {
  background-color: black;
}

.centerBlock {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.whiteText {
  	color: white;
}

.character {
	display: inline
}